<div class="container">
    <div ng-show="error" class="alert alert-danger">
        <strong>Error! </strong>{{error}}
    </div>
    <div ng-show="success" class="alert alert-success">
        <strong>Success! </strong>{{success}}
    </div>

    <div class="row">
        <h2>Enter an email to search user</h2>

        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input ng-model="user.email" type="text" class="  search-query form-control" placeholder="Search"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" ng-click="search()">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                    <button ng-click="save()" type="button" class="btn btn-primary">Save</button>
                                </span>
            </div>
        </div>
    </div>
    <div ng-show="result || resultNotFound">
        <h2>Result</h2>

        <div ng-show="resultNotFound" class="alert alert-info">
            <strong>Info! </strong>{{resultNotFound}}
        </div>

        <div ng-show="result" class="list-group">
            <a href="#" class="list-group-item">{{result.email}}</a>
        </div>
    </div>
</div>